body, h1, h2{
    margin: 0;
    
}
.nav{
    background-color: rgb(33, 33, 222); 
    height: 70px;
}
#titulo{
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    float: left;
}
#botaoNav{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin: 14px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 0);
    text-decoration: none;
}
#header{
    width: auto;
    height: 648px;
    background-image: url(img/paginaPrincipal/gif.gif);
    background-position: top;
}
#espaco{
    height: 420px;
}
.row{
    display: flex;
}
.column{
    flex: 33%;
    margin: 20px 50px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
    text-align: center;
}
#jogos{
    background-color: rgb(168, 161, 161);
}
#titulo2{
    padding: 10px 40px;
    font-size: 38px;
    text-align: center;
}
.rodape{
    text-align: center;
}